@page "/books/create"
@page "/books/update/{id:int}"
@inject IUnitOfWork UnitOfWork

<h3>UpsertBook</h3>

<MudGrid>
    @if (isLoading)
    {
        <MudItem>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-4">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
            </MudPaper>
        </MudItem>
    }
    else
    {
        <MudItem xs="8">
            <MudPaper Class="mud-width-full py-4">
                <EditForm Model="Book" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <MudTextField Label="Title" @bind-Value="Book!.Title" For="@(() => Book!.Title)" />
                    <MudSelect T="int?" Required="true" @bind-Value="Book.AuthorId"
                           Label="Author" AnchorOrigin="Origin.BottomCenter" For="@(() =>Book!.AuthorId)">
                        @foreach (var author in authors)
                        {
                            <MudSelectItem Value="@author.Id">@author.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect T="int?" Required="true" @bind-Value="Book.PublisherId"
                           Label="Publisher" AnchorOrigin="Origin.BottomCenter" For="@(() =>Book!.PublisherId)">
                        @foreach (var publisher in publishers)
                        {
                            <MudSelectItem Value="@publisher.Id">@publisher.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect T="int?" Required="true" @bind-Value="Book.BookSizeId"
                           Label="Book Size" AnchorOrigin="Origin.BottomCenter" For="@(() =>Book!.BookSizeId)">
                        @foreach (var bookSize in bookSizes)
                        {
                            <MudSelectItem Value="@bookSize.Id">@bookSize.SizeValue</MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect T="BookTagDTO" Clearable="true" Required="true" @bind-SelectedValues="Book.BookTags" 
                           MultiSelection="true" Label="Book Tags" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var bookTag in bookTags)
                        {
                            <MudSelectItem Value="@bookTag" />
                        }
                    </MudSelect>
                    <MudTextField @bind-Value="@Book.Price" InputType="InputType.Number" Variant="Variant.Text" Adornment="Adornment.Start"
                              Label="Price" AdornmentIcon="@Icons.Material.Filled.AttachMoney" For="@(()=> Book!.Price)" />
                    <MudTextField @bind-Value="@Book.Discount" InputType="InputType.Number" Variant="Variant.Text" Adornment="Adornment.Start"
                              Label="Discount" AdornmentIcon="@Icons.Material.Filled.Discount" For="@(()=> Book!.Discount)" />
                    <MudTextField T="DateTime?" @bind-Value="@Book.PublishedDate"
                              Format="dd-MM-yyyy" Label="Published Date" InputType="InputType.Date" />
                    <MudTextField @bind-Value="Book.Description" Label="Description" Variant="Variant.Text" Lines="5" For="@(()=> Book!.Description)" />
                </EditForm>
            </MudPaper>
        </MudItem>

        <MudItem xs="4">
            <MudPaper Class="mud-width-full  py-4">
                <MudImage Src="@Book.Avatar" Class="mud-width-full" />
            </MudPaper>
        </MudItem>
    }

</MudGrid>


